[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/eventime/*"
  to = "https://eventime.ga/api/cashless/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

